
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.carousel{
  width:100%;
}
.carousel > * {
  vertical-align: middle;
}

.slick-active.slick-current .sliderSize img{
  /* height: 100%; */
  transform: scale(1,2);
}
.slick-active .sliderSize img{
  /* height: 85%; */
  transform: scale(1,1.2);
}
.sliderSize{
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center; /* horizontal */
  /* justify-content: center; vertical */
}
.sliderSize img{
  width: 98%;
  object-fit: cover;
  height: 70%;
  -webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
  transition: transform 0.3s;
  /* margin: auto 0px; */

  /* changes required here for nth value */
  /* height: 70%;
  margin: auto 0px; */
}

.carousel .slick-prev{
  z-index:9;
  left: 25px;
}

.carousel .slick-next{
  z-index:9;
  right: 25px;
}
